:root {
  --vscode-border-thickness: 4px;
  --vscode-border-color: #039BE5;
}

.monaco-workbench,
#workbench {
  box-shadow: inset 0 0 0 var(--vscode-border-thickness) var(--vscode-border-color) !important;
  outline: none;
}
